.Footer {
}

.list-element-footer li {
  display: inline-block;
  padding: 1em;
  float: center;
  color: white;
}

.list-element-footer {
  padding: 0;
}
.navbar-footer {
    background-color: white;
    color: white;
}

.contact {
  clear: right;
}

.btn-footer {
  border-color: #FF8B8B;
  color: #FF8B8B;
  background-color: #1a1a1a;
}

.footer-link {
  color: #056473;
}
