.Projects {
  padding-top: 10%;
  height: 100%;
}


.Projects h1{
  padding-bottom: 0;
}

.Projects h3{
  font-weight: 200;
}

.container-fluid {
  height: 100%;
}

.project-header-text {
  border-bottom: 2px solid gray;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.projects-container {
  height: 100%;
  padding: 7%;
  padding-top: 0;
}

.last-project {
  padding-bottom: 0;
}

.timeline-box {
  padding-left: 0;
}

.info-row {
  padding-top: 2em;
}

.project-image {
    display: inline-block;
    width: 500px;
    max-width: 100%;
}


.project-row {
  padding-top: 5%;
  padding-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.project-description {
  text-align: left;
}

.project-description h6 {
  font-weight: lighter;
}

.btn-to-art {
    border-radius: 40px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-color: #056473;
    color: #056473;
    text-decoration: none;

    background-color: Transparent;
    font-size: 32px;
    font-family: lato;
    font-weight: 200;
    cursor: pointer;
}
